
/* slider style  */
#slider-caption h1{
   font-size: 55px;
}

/* courses style  */
#course-viewAll-btn{
    display: none;
}




/* company logo style  */

#company-log img{
    margin-right: 2rem; ;

}
@media only screen and (max-width: 992px) {
    #company-log{
      display:none;
      
    }
    /* courses style  */
    .hidden-course{
        display: none !important;
        background-color: red;
    }
    #course-viewAll-btn{
        display: block;
    }
    #course-see-btn{
        display: none;
    }
  
    }
    @media only screen and (max-width: 576px) {
       #course-div{
           flex-direction: column !important;
        }

    }

/* footer-style */
.footer-style a{
    text-decoration: none;
    color: white;

}


